@import "../../assets/scss/mdb.scss";

.signUp-section {
  padding-bottom: 6rem;
  .text-muted {
    font-size: 0.8rem;
    padding: 1rem 0;
  }
}
.signUp-img {
  background-color: $bg-light;
  text-align: center;
  padding: 3rem 0 2rem 0;
  .img-container {
    // width: 400px;
    // height: 330px;
    max-width: 400px;
    max-height: 330px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    // Opacity: 60%;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.3rem;
    font-family: $font-family-bold;
    color: $msg-error-color;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

//GENERAL==

.form-footer {
  text-align: center;
}

.or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 3rem 0;
}
.or-divider {
  width: 40%;
  border-bottom: 1px solid $bg-dark;
}
.or-text {
  text-align: center;
  color: $text-gray;
  margin-bottom: 0;
}
.step2 form {
  padding: 0rem 0 2rem 0;
}
