@import "../../../assets/scss/custom-variables";
.offer-details_header{
    border-bottom: 1px solid $bg-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.offer-details_body{
    padding: 1rem 0;
}

.discount-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.discount{
    border: 1.1px solid $primary-color;
    border-radius: 16px;
    max-width: 100px;
    line-height: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
}
.offer-details_img{
    width:78px;
    height: auto;
}
