// Your custom variables
//COLORS
$primary-color: #fae159;
$primary-dark: #191820;
$msg-error-color: #ff585f;
$bg-light:#F8F8F8;
$bg-gray-light:#F9F9F9;
$text-gray:#929297;
$bg-dark:#E2E2E2;
$btn-light-color:#FCFCFC;

//FONTS
$font-family-base: "font-family-base";
$font-family-light: "font-family-light";
$font-family-bold: "font-family-bold";
// $font-family-medium: "font-family-medium";
// $font-family-Italic: "font-family-Italic";
