//Fonts
@font-face {
  font-family:"font-family-base";
  src: url("../font/proxima_ssv/proxima_ssv/ProximaNova-Regular.otf");
}
@font-face {
  font-family: "font-family-light";
  src: url("../font/proxima_ssv/proxima_ssv/ProximaNova-Thin.otf");
}
@font-face {
  font-family:"font-family-bold";
  src: url("../font/proxima_ssv/proxima_ssv/ProximaNova-Bold.otf");
}
