@import "../../assets/scss/mdb.scss";

.header {
    background-color: $primary-color;
 
  .carousel{
    }
  .carousel-control-prev , .carousel-control-next{
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  // .hero_section
  .carousel-item{
    background-image: url(../../assets/img/Girl-hero-section-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    // padding: 7rem 4rem;
    background-size: cover;
    background-position: bottom right;
    // background-position: 135px 120px;
    // background-position: 52% 60%;
    background-position: 22% 60%;

    // background-repeat: no-repeat;
    padding-top: 7rem;
    padding-bottom: 7rem;
    @include media-breakpoint-down(sm) {
      // padding: 4rem 2rem 2rem 2rem;
      // background-image: none;
       background-size: cover;
      background-position: 50% 20%;
      // padding-left: 2rem !important;
      //   padding-right: 2rem !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    @include media-breakpoint-down(md) {
      background-size: cover;
      background-position: 52% 20%;
      // padding-left: 4rem !important;
      //   padding-right: 4rem !important;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    // min-height: 500px;
  }
  .carousel-indicators {
    @include media-breakpoint-down(sm) {
    bottom: -40px;
  }}
  .carousel-indicators li{
    @include media-breakpoint-down(sm) {
    text-indent: initial;
    color:$text-gray;
    width: auto;
    }
  }
  .carousel-indicators li:before{
    @include media-breakpoint-down(sm) {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    display: inline-block;
    }
  }
  .carousel-indicators li.active:before{
    @include media-breakpoint-down(sm) {
    font-family: "Font Awesome 5 Free";
    content: "\f192";
    display: inline-block;
    }
  }
  .heading-text {
    //   max-width: 320px;
    color: $msg-error-color;
    font-family: $font-family-bold;
    max-width: 560px;
    // font-size: 5rem;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    @include media-breakpoint-down(sm) {
      // font-size: 4rem;
      // width: 50%;
      font-size: 3rem;
      max-width: 230px;
    }
    @include media-breakpoint-down(md) {
      // width: 60%;
    }
  }
  .carousel-item{
      padding-left: 10rem;
      padding-right: 10rem;
  }
  
.carousel-control-next-icon{
    background-image: url(../../assets/img/svg/Chevron-Right.svg);
}
.carousel-control-prev-icon{
    background-image: url(../../assets/img/svg/Chevron-Left.svg);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    // display: inline-block;
    width: 48px;
    height: 48px;
    // background: no-repeat 50%/100% 100%;
}
.carousel-control-next, .carousel-control-prev {
    width: auto;
    opacity:1;
    transition: opacity .15s ease;
}
.btn.btn-primary-white{
  background-color: white;
}
.btn.btn-primary-white:hover , .btn.btn-primary-white:focus{
  background-color:$primary-hover;
}
}