@import "../../assets/scss/custom-variables";

.mailVerification {
  padding: 5rem 2rem 10rem 2rem;
  text-align: center;
  color: $primary-dark;
}
.mailVerification-img {
  margin-bottom: 3rem;
}
.mailVerification-title {
  font-size: 2rem;
  font-family: $font-family-bold;
  margin-bottom: 3rem;
}
.mailVerification-text {
  font-family: $font-family-base;
  margin-bottom: 3rem;
}
// .svg-container{
//   position: relative;
//   width: 160px;
//   margin: auto;
//   Opacity: 70%;
//   width: 160px;
//   height: 160px;
//   object-fit: contain;
//   opacity: 0.5;
//   img{
//     position: absolute;
//     top: 25%;
//     left: 35%;
//     width: 50px;
//     height: auto;
//   }
// }