// @import '../../../node_modules/react-material-stepper/dist/react-stepper.css';

@import "../../assets/scss/custom-variables";
@import "../../assets/scss/mdb.scss";

.step1,
.step2,
.step3 {
  form {
    padding: 2rem 0;
  }
}
.step2 {
  .pincode-input-container {
    display: flex;
    .pincode-input-text {
      // width: auto !important;
      margin: 0px 0.5rem !important;
      // max-width: 16.666667% !important;
      flex-grow: 1;
      border: 1px solid #fff !important;
      border-bottom: 1px solid $bg-dark !important;

      flex-shrink: 1;
      width: 100% !important;
      &:focus {
        border-bottom: 1px solid $primary-dark !important;
      }
    }
  }
  .step2-footer {
    background-color: $bg-light;
    padding: 1.2rem;
    border-radius: 16px;
    .link-text {
      margin: 0;
      font-weight: 600;
    }
  }
}
.step3 {
  .step3-header {
    background-color: $bg-light;
    padding: 2rem 5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    @include media-breakpoint-down(md) {
      padding: 2rem 2rem;
    }
    @include media-breakpoint-down(sm) {
      padding: 2rem 1rem;
    }
    .img-bg {
      position: relative;
      height: auto;
      width: 130px;
      img {
        position: absolute;
        top: -85px;
        right: 0px;
      }
    }
  }
}
.cashout-amount {
  text-align: center;
  font-size: 2.5rem;
}
.step4 {
  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    li {
      padding: 0.5rem 0;
    }
  }
}
//STEPS STYLES====================================================
.current_step-text {
  text-align: center;
  margin-bottom: 2rem;
  span {
    color: $text-gray;
  }
}
.stepper {
  border: 0;
  box-shadow: none;
}
.stepper__header {
  display: none;
}
.stepper__content__actions {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
  .item1,
  .item2,
  .item3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  @include media-breakpoint-down(sm) {
    .item1,
    .item2 {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1rem 1rem 1rem;
    }
    .item1 {
      img {
        display: none;
      }
    }
    .item2 {
      text-align: right;
    }
  }
  @include media-breakpoint-down(sm) {
    .item3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.btn-link {
  border: 0 !important;
}
